.content {

	.main {
		position: relative;

		.cover {
			width: 100%;
			display: block;
		}

		.title {
			@include position(absolute, auto auto 0.5em 1em);
			@include size(80% auto);
			margin: 0;
			font-size: 20px;
			font-weight: bold;
		}

		.play {
			@include position(absolute, auto 1em em(-40) auto);
			@include size(em(80));
			background-image: url('../images/icon-play.svg');
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-color: tomato;
			border-radius: 100%;
			cursor: pointer;
			text-align: center;
		}
		
	}

}