.list {
	@include size(100% auto);
	@include display(flex);
	@include flex-direction(row);
	@include justify-content(space-between);
	padding: 1.5em 0.5em;
	background: $almost-black;
	overflow-x: scroll;

	.item {
		@include flex(1 0 150px);
		min-width: 150px;
		margin: 0 0.5em;
		cursor: pointer;
		opacity: 0.8;

		&:hover {
			opacity: 1;
		}

		.cover {
			display: block;
			width: 100%;
			margin: 0 auto;
			border-radius: 10px;
		}
	}
}